__pycache__/
.vscode/
models_test.ipynb
save_models_test.ipynb

patients/service_recommendation/server_app.py
patients/service_recommendation/server_app2.py
patients/service_recommendation/test.py
patients/service_recommendation/__pycache__/
patients/service_recommendation/main_test.py
patients/service_recommendation/augmented_labels.csv
patients/service_recommendation/augmented_labels.npy
patients/service_recommendation/augmented_sentences.csv
patients/service_recommendation/credentials.json
patients/service_recommendation/data_labels.db
patients/service_recommendation/data.csv
patients/service_recommendation/data.npy
patients/service_recommendation/labels.csv
patients/service_recommendation/labels.npy
patients/service_recommendation/mh_labels_vocab.npy
patients/service_recommendation/old_data_conv.cs
patients/service_recommendation/old_data_conv.py
patients/service_recommendation/paraphrased_sentences.npy
patients/service_recommendation/terms_to_remove.txt
patients/service_recommendation/testggg.txt
patients/service_recommendation/token.pickle
patients/service_recommendation/train_data_int_1g_vocab.npy
patients/service_recommendation/vocab.npy
patients/service_recommendation/webookcare.sln
patients/service_recommendation/MLP_int_1g_bigram_multihot_labels/
patients/service_recommendation/checkpoints/
patients/service_recommendation/csharp/
patients/service_recommendation/data/
patients/service_recommendation/models clone and weights/
patients/service_recommendation/notebooks/
patients/service_recommendation/old data/
patients/service_recommendation/pdfs/
patients/service_recommendation/plots/
patients/service_recommendation/resources/
patients/service_recommendation/saved_model/
patients/service_recommendation/transformer_encoder.tf/
patients/service_recommendation/process_data.py
patients/service_recommendation/helper_layers.py
patients/service_recommendation/New folder/

patients/credentials_recommendation/test.ipynb
patients/credentials_recommendation/data.csv
patients/credentials_recommendation/data.npy
patients/credentials_recommendation/labels.csv
patients/credentials_recommendation/labels.npy
patients/credentials_recommendation/mh_labels_vocab.npy
patients/credentials_recommendation/data/
patients/credentials_recommendation/augmented_labels.csv
patients/credentials_recommendation/augmented_labels.npy
patients/credentials_recommendation/augmented_sentences.csv
patients/credentials_recommendation/paraphrased_sentences.npy
patients/credentials_recommendation/train_data_int_1g_vocab.npy
patients/credentials_recommendation/vocab.npy
patients/credentials_recommendation/saved_models
patients/credentials_recommendation/test.py
patients/credentials_recommendation/test_main.ipynb

patients/location_ranking/data
patients/location_ranking/bc_random_coordinates_map.html
patients/location_ranking/data.csv
patients/location_ranking/data.npy
patients/location_ranking/test.ipynb
patients/location_ranking/users_data.csv
patients/location_ranking/users_data.npy
patients/location_ranking/caregivers_data.csv
patients/location_ranking/caregivers_data.npy
patients/location_ranking/patients.csv
patients/location_ranking/patients.npy
patients/location_ranking/saved_models/